<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <a href=""><img
                            src="https://cdn.shopify.com/s/files/1/0070/7032/files/trending-products_c8d0d15c-9afc-47e3-9ba2-f7bad0505b9b.png?v=1614559651" class="img-fluid"></a>
                </div>
                <div class="col-md-3">
                    <a href=""><i class="fa-solid fa-lightbulb"></i></a>
                </div>
                <div class="col-md-3">
                    <a href=""><i class="fa-solid fa-lightbulb"></i></a>
                </div>
                <div class="col-md-3">
                    <a href=""><i class="fa-solid fa-lightbulb"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>