<ng-container *ngIf="cartproudcts.length !=0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responisve table-stripped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quanitity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of cartproudcts; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{data.title}}</td>
                            <td><img src="{{data.image}}" class="img-fluid" style="height: 100px;"></td>
                            <td>{{data.description}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.total}}</td>
                            <td><button class="btn btn-danger" (click)="removeSingleItem(data)"><i class="fa-solid fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger" (click)="removeAllItems()">Delete All</button>
                    <p class="ms-3">Grand Total <span>{{grandTotal.toFixed(2)}}</span></p>
                    
                </div>
            </div>
        </div>
    </div>
</ng-container>



<ng-container *ngIf="cartproudcts.length == 0">
    <div class="container">
        <div class="row">
            <div class="col-12 border-dark ">
                <div class="cart rounded-3">
                    <span style="font-size: 1.5rem; font-weight: 600; padding: 0 2rem; display: inline-block;">My
                        Cart</span>
                    <div class="row h-100">
                        <div class="col-md-4 mx-auto text-center"
                            style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://autotechengineeringusa.com/sites/default/files/cart-empty.png"
                                class="img-fluid">
                            <h5>Your cart is empty</h5>
                            <p>Add item for empty cart</p>
                            <a routerLink="/products"><button class="btn btn-primary">Shop Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>